/* COLORS */

:root {
  --ACCENT-CLR: #f44336;
  --ACCENT-FONT-CLR: var(--LIGHT-FONT-CLR);
  --DARK-FONT-CLR: #2d2d2d;
  --HOVER-OVERLAY-CLR: #0a0a0a3b;
  --ICON-BTN-BACKGROUND-CLR: #000000bd;
  --LIGHT-FONT-CLR: #fff;
  --INPUT-BORDER-CLR: #1f1e1a;
  --PRIMARY-BACKGROUND-CLR: #2d2d2d;
  --PRIMARY-BTN-BACKGROUND-CLR: var(--ACCENT-CLR);
  --PRIMARY-BTN-FONT-CLR: var(--ACCENT-FONT-CLR);
  --PRIMARY-FONT-CLR: var(--LIGHT-FONT-CLR);
  --SECONDARY-BTN-BACKGROUND-CLR: #0000;
  --SECONDARY-BTN-HOVER-CLR: #0000;
}

/* BORDERS */

:root {
  --BORDER-RADIUS: 10px 0;
  --BTN-BORDER-WIDTH: 2px;
  --BTN-BORDER-RADIUS: 0px;
  --INPUT-BORDER-RADIUS: 0px;
  --INPUT-BORDER-WIDTH: 0px;
}

/* SPACING */

:root {
  --BTN-PADDING-Y: 0.6em;
  --BTN-PADDING-X: 1.3em;
  --HAS-GAP-VALUE: 1em;
  --HAS-PADDING-VALUE: 1em;
  --ICON-BTN-PADDING: 0.6em;
  --INPUT-PADDING-Y: var(--BTN-PADDING-Y);
  --INPUT-PADDING-X: var(--BTN-PADDING-X);
}

/* OTHERS */

:root {
  --TRANSITION-DURATION: 150ms;
}
