/* COLORS */

:root {
  --ACCENT-CLR: #1f1e1a;
  --HOVER-OVERLAY-CLR: #0a0a0a5c;
  --ICON-BTN-BACKGROUND-CLR: #000000bd;
  --INPUT-BORDER-CLR: #1f1e1a;
  --PRIMARY-BACKGROUND-CLR: #f5f5f5;
  --PRIMARY-FONT-CLR: #000;
  --SECONDARY-BTN-BACKGROUND-CLR: #0000;
  --SECONDARY-BTN-BORDER-CLR: #0004;
  --SECONDARY-BTN-HOVER-CLR: #0000;
}

/* BORDERS */

:root {
  --BORDER-RADIUS: 5px;
  --BTN-BORDER-WIDTH: 1px;
  --BTN-BORDER-RADIUS: 0px;
  --INPUT-BORDER-RADIUS: 0px;
  --INPUT-BORDER-WIDTH: 1px;
}

/* SPACING */

:root {
  --BTN-PADDING-Y: 0.6em;
  --BTN-PADDING-X: 1.3em;
  --CATEGORY-NAVBAR-PADDING-TOP: 1.5em;
  --HAS-GAP-VALUE: 1em;
  --HAS-PADDING-VALUE: 1em;
  --ICON-BTN-PADDING: 0.6em;
  --INPUT-PADDING-Y: 0.6em;
  --INPUT-PADDING-X: 1.3em;
  --NAVBAR-PADDING-Y: 0.7em;
  --NAVBAR-PADDING-X: 1.3em;
}

/* OTHERS */

:root {
  --TRANSITION-DURATION: 150ms;
}
